# Jupyter requirements
jupyter-book
jupyter-contrib-nbextensions
sphinxcontrib-napoleon
sphinxcontrib-spelling
sphinxcontrib-programoutput
git+git://github.com/mkrphys/ipython-tikzmagic.git

# application requirements
numpy==1.21.5
numpy-stl
scipy
sympy
matplotlib
pint
fluids

# PyTest requirements
pytest
pytest-cov
coverage
coveralls
flake8

